{% include 'links.html'%}
<nav class="nav row">
    <div class="col-11">
        <div class="row">
            <div class=""><a href="#"><img class="logo" src="static/products/csv/shopping-cart.png"></a></div>
            <div class="nav-item p-20"><a href="/admin_home">Admin Home</a></div>
            <div class="nav-item p-10"><a href=/view_seller>Seller</a></div>
            <div class="nav-item p-10"><a href="/view_products">View Products</a></div>

            <div class="nav-item p-10"><a href="/view_price_request">Price Request</a></div>
           <div class="nav-item p-10"><a href="logout">Logout</a></div>
        </div>
        <div class="col-1"></div>
    </div>
</nav>