{% include 'links.html'%}
<nav class="nav row">
    <div class="col-11">
        <div class="row">
            <div class=""><a href="#"><img class="logo" src="../static/products/csv/shopping-cart.png"></a></div>
            <div class="nav-item p-20"><a href="/customer_home">Customer Home</a></div>
            <div class="nav-item p-10"><a href="/view_products">View Products</a></div>
            <div class="nav-item p-10"><a href="/view_products2">View Products Live</a></div>
            <div class="nav-item p-10"><a  href="/view_orders?view_type=cart">Cart</a></div>
            <div class="nav-item p-10"><a href="/view_orders?view_type=ordered">Orders</a></div>
            <div class="nav-item p-10"><a href="/view_orders?view_type=history">History</a></div>
            <div class="nav-item p-10"><a href="/notifications?view_type=history">Notifications</a></div>
            <div class="nav-item p-10"><a href="logout">Logout</a></div>
        </div>
    </div>
</nav>