{% include 'links.html'%}
<nav class=" nav row">
  <div class="col-11 ">
    <div class="row">
      <div class=""><a href="#"><img class="logo" src="../static/products/csv/shopping-cart.png"></a></div>
      <div class="nav-item p-10"><a href="/">Home</a></div>
      <div class="nav-item p-10 "><a href="/admin_login">Admin</a></div>
      <div class="nav-item p-10"><a href="/seller_login">Seller</a></div>
      <div class="nav-item p-10"><a href="/customer_login">Customer</a></div>
    </div>
  </div>
</nav>